* {
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}
.ui-container * {
  padding: 5px;
}
.ui-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  font-size: large;
  font-weight: bolder;
}
.header {
  padding: 25px;
  background-color: black;
  color: #ffb238;
  height: 80px;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  border: black solid 1px;
}
.header div {
  display: inline-block;
  height: 100%;
  width: 50%;
  align-self: center;
  text-align: center;
}

.footer {
  background-color: black;
  color: #ffb238;
  display: flex;
  justify-content: space-evenly;
  border: black solid 1px;
}
.footer p {
  text-align: center;
}
button {
  width: auto;
  padding: 0 15px;
  height: 25px;
  border-radius: 45px;

  border: none;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0-1);
  transition: all 0.3 ease;
  background-color: #ffb238;
}

button:hover {
  /*#2ceae5;*/
  background: #2ceae5;
  transform: translateY(-3px);
  cursor: pointer;
  color: black;
  box-shadow: 0px 10px 25px rgba(46, 223, 229, 0.445);
}

button:disabled {
  background-color: grey;
}

.main-container {
  padding: 30px;
  border: black solid 1px;
  background-color: #5cab7d;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}
.api-container {
  background-color: #ffb238;
  width: 100%;
  display: flex;
  height: 100%;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.invisible {
  display: none;
}

.form-container {
  background-color: black;
  color: #ffb238;
  border: black solid 1px;
  height: min-content;
  padding: 10px 5px;
}
.form-container input {
  border: black solid 1px;
}
.list-container {
  height: auto;
  width: auto;
  align-self: stretch;
  color: #ffb238;
  background-color: rgb(83, 80, 80);
  border: black solid 1px;
  display: flex;
}

.errors button {
  margin-left: 15px;
}
table {
  border: 1px solid black;
  max-height: 50px;
  border-collapse: collapse;

  background-color: black;
}

th {
  background-color: green;
}

td,
th {
  text-align: center;
  border: 1px solid black;
}
